body{
    background-color: beige;
    margin:0px;
    height: 2000px;
}
header{
    display:flex;
    background-color: rgb(243, 185, 113);
    

}
.logo{
    width:500px;
}
.pic{
    margin:20px;
    margin-bottom: 0px;
}
.nav{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
ul{
    display: flex;
    list-style: none;
    padding: 5px;
    margin-top: 0px;
}
li a{
    text-decoration: none;
    color:black;
    margin:5px;
    padding:10px;
    padding-bottom:5px;
    border-bottom:solid rgb(218, 161, 96);
}
.navigation{
    display:flex;
    flex: 1;
    justify-content: end;
}
.login{
    margin-right:150px;
    margin-top:10px;
}
input{
    height:25px;
    border: none;
    border-radius: 30px;
    margin-top: 12px;
}
a:hover{
    background-color: rgb(238, 238, 114);
    color:white;
}
.content{
    width:750px;
    margin:15px;

}
